{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb bcrumb-margins">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'products' %}">Products</a>
                </li>
                <li class="breadcrumb-item active">System Audits</li>
            </ol>
        </div>
    </div>
    </div>
    
            <div class ="container">
            <h2>System Audits</h2>
            <!-- As the loop iterates through the contents of products_list, it assigns the current Product object in the list to the 'product' variable. -->
            <div class="row">
                {% for product in products_list %}
                <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

                <h2>{{ product.name }}</h2>
                <p class="product-description">{{ product.description }}</p>
                <p class="product-description">€{{ product.price }}</p>

                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
                </div> 
                </div>
            {% endfor %}
            </div><br>
            </div>
{% endblock %}