{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <section class="container">
        <ol class="breadcrumb bcrumb-margins">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Products</li>
        </ol>
        <h2>Our Products</h2>
        <div class="container">
        <div class="display">
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="q">
                <button type="submit">Search</button>
            </form>
        </div>
        <br>
        <div class="container">
            <h3>Go To Specifc Category:</h3><br>
            <div class="row">
            <a href="/products/training" class="btn btn-info" id="cat_buttons" role="button">Trainings & Workshops</a>
            <a href="/products/manuals" class="btn btn-success" id="cat_buttons" role="button">Manuals & Guidelines</a>
            <a href="/products/templates" class="btn btn-info" id="cat_buttons" role="button">Templates</a>
            <a href="/products/audit" class="btn btn-warning" id="cat_buttons" role="button">Systems Audits</a>
            </div>
        </div>
    </section>
    
    
    
    
    <br>
    <div class ="container">
    <div class="row">
        {% for product in products %}
        <div class="col-sm-12 col-md-6 col-lg-4">
             <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

                <h2>{{ product.name }}</h2>
                <p class="product-description">{{ product.description }}</p>
                <p class="product-description">€{{ product.price }}</p>

                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
              </div> 
        </div>
            {% endfor %}
    </div><br>
    </div>

{% endblock %}