{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <section class="container">
        <ol class="breadcrumb bcrumb-margins">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Products</li>
        </ol>
        <h2>Our Products</h2>
        <div class="container">
        <div class="display">
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="q">
                <button type="submit">Search</button>
            </form>
        </div>
        <br>
        <!--<div class="row">
            <article class="card col-xs-12 col-sm-6">
                <a class="hover-link" href="/products/training">
                    <div class="zoom">
                        <img class="img-responsive" src="{% static 'img/categories/training.png' %}" alt="Trainings">
                        <div class="overlay">
                            <h1>See our products</h1>
                        </div>
                    </div>
                    <h2 class="product-heading">Trainings & Workshops</h2>
                </a>
            </article>
            <article class="card col-xs-12 col-sm-6">
                <a class="hover-link" href="/products/manuals">
                    <div class="zoom">
                        <img class="img-responsive" src="{% static 'img/categories/manuals.png' %}" alt="Manuals">
                        <div class="overlay">
                            <h1>See our products</h1>
                        </div>
                    </div>
                    <h2 class="product-heading">Manuals & Guidelines</h2>
                </a>
            </article>
            <article class="card col-xs-12 col-sm-6">
                <a class="hover-link" href="/products/templates">
                    <div class="zoom">
                        <img class="img-responsive" src="{% static 'img/categories/templates.png' %}" alt="Templates">
                        <div class="overlay">
                            <h1>See our products</h1>
                        </div>
                    </div>
                    <h2 class="product-heading">Templates & Forms</h2>
                </a>
            </article>
            <article class="card col-xs-12 col-sm-6">
                <a class="hover-link" href="/products/audit">
                    <div class="zoom">
                        <img class="img-responsive" src="{% static 'img/categories/audit.jpg' %}" alt="Audits">
                        <div class="overlay">
                            <h1>See our products</h1>
                        </div>
                    </div>
                    <h2 class="product-heading">Audits & Systems Reviews</h2>
                </a>
            </article>
        </div>-->
    </section>
    
    
    
    
    <br>
    <div class ="container">
    <div class="row">
        {% for product in products %}
        <div class="col-sm-12 col-md-6 col-lg-4">
             <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

                <h2>{{ product.name }}</h2>
                <p class="product-description">{{ product.description }}</p>
                <p class="product-description">€{{ product.price }}</p>

                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
              </div> 
        </div>
            {% endfor %}
    </div><br>
    </div>

{% endblock %}